.button_play{
  top:10px;
  right: 10px;
}

.node{
  height: 50px;
  width: 100px; 
  border-color:gray; 
  border-style:dashed;
  text-align: center;  
  display:flex; 
  align-items: center;
  justify-content: center;
  margin-right:50px;
}

.node_tree{
  height: 100px; 
  display:flex; 
  justify-content: center;
  align-items: center;
 
}